<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Recipe</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="/styles.css">
</head>

<body>

  <div class="container">

    <div class="row">
      {{#each steps}}
      <div class="column step">

        <div class="column ">
          <div class="header">
            {{step_name}}
          </div>

          {{#each recipes}}
          <div class="item">
            {{recipe_name}}
          </div>
          {{/each}}

          <form class="" action="/recipe/move" method="post">
            <select class="">
          {{#each recipes}}
            <option class="item" value="">{{recipe_name}}</option>
          {{/each}}
          <input type="submit" name="" value="Move">
            </select>
          </form>
        </div>
      </div>


      {{/each}}

    </div>

</body>

</html>