<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Recipe</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="/styles.css">
</head>

<body>

  <div class="container">

    <div class="row">
      {{#each steps}}
      <div class="column step">

        <div class="column ">
          <div class="header">
            {{step_name}}
          </div>


          {{#each items}}
          <div class="item">
           {{item_name}}
          </div>
          {{/each}}


        </div>

      <form class="" action="/recipe/:id/move" method="post">
        <select class="">
          {{#each items}}
            <option class="item" value="">{{item_name}}</option>
      </div>
          {{/each}}
          <input type="submit" name="" value="Move">
       </select>
      </form>
    </div>


      {{/each}}

  </div>
  <!-- </div> -->

</body>

</html>
